includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	phpVersion: 80100
	level: 4
	paths:
		- src
		- tests
		- generators
	ignoreErrors:
		-
		    message: "#Template type T of method#"
		    count: 6
		    path: src/Collection/Stream/Collectors.php

		-
		    message: "#Method Munus\\\\Value::toStream\\(\\) should return Munus\\\\Collection\\\\Stream\\<T\\> but returns Munus\\\\Collection\\\\Stream\\\\Cons\\<Munus\\\\Collection\\\\Stream\\|T\\>.#"
		    count: 1
		    path: src/Value.php
